.container-fluid{
	text-align: center;
	font-family: 'Helvetica';
	background: rgba(11, 8, 34, 0.562);
	color: whitesmoke;
}

.getStartedDiv {
	text-align: center;
	background: rgba(155, 120, 3, 0.411);
	color: whitesmoke;
}

.currentWord {
	text-align: center;
}

body {
	background-image: url("../images/flag.jpg");
}